In [2]:
print ("Hello World!")

Hello World!

In [5]:
def simple_math(a,b):
    sum = a+b
    if sum>2:
        return 2
    else:
        return sum
    
print (simple_math(1,2)) #na wykładzie podane bez nawiasów czyli dla Python 2.7, Python 3 wymaga dodania nawiasów w funkcji print

2

In [8]:
def my_fun():
    return 2
print (my_fun())

2

In [12]:
def Spanish_Inquisition(some_param):
    expect = False
    if some_param == 'Nobody':
        expect = True
    if expect == True:
        print (some_param + 'expects the Spanish inquisition')

In [13]:
my_list = [1,2,3,4,5,6,7,8]
my_list[1]

2

In [14]:
my_list = [1,2,3,4,5,6,7,8]
my_list[0]

1

In [16]:
my_list = [1,2,3,4,5,6,7,8]
my_list.append(9)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
my_list = [1,2,3,4,5,6,7,8]
my_list.extend([10,11])
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 10, 11]

In [18]:
my_list = [1,2,3,4,5,6,7,8]
my_list.insert(0,0)
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
my_list = [1,2,3,4,5,6,7,8]
my_list.insert(6,22)
print(my_list)

[1, 2, 3, 4, 5, 6, 22, 7, 8]

In [20]:
my_list = [1,2,3,4,5,6,7,8]
my_list.insert(4,[2,3])
print(my_list)

[1, 2, 3, 4, [2, 3], 5, 6, 7, 8]

In [23]:
my_list = [1,2,3,4,5,6,7,8]
my_list.pop(4)

5

In [22]:
a=[1,2,3]
b=[1,2,3]
a+b

[1, 2, 3, 1, 2, 3]

In [26]:
my_list = [1,2,3]
my_tuple = (4,5,6)
#my_list + my_tuple #nie można dodac listy i tuple
tuple(my_list) + my_tuple

(1, 2, 3, 4, 5, 6)

In [27]:
txt = 'Ala'
int(txt) # nie można z tekstu zrobic liczby całkowitej

ValueError: invalid literal for int() with base 10: 'Ala'

In [28]:
txt = '1'
int(txt) # z liczby całkowitej mozna zrobic tekst

1

In [32]:
x = set([1,2])
x

{1, 2}

In [33]:
y = set('word')
y

{'d', 'o', 'r', 'w'}

In [42]:
d1 = dict()
d2 = ()
d3 = ("worker_name":"John","age":25)
d3["age"]

SyntaxError: invalid syntax (<ipython-input-42-8b78df8065bb>, line 3)